In [48]:
import pandas as pd
from pathlib import Path

In [49]:
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [50]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [51]:
#Calculate the total number of unique schools
school_count = total_schools = school_data_complete['School ID'].nunique()
print(f'Total number of unique schools: {total_schools}')

Total number of unique schools: 15

In [52]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
print(f'Total number of students: {student_count}')

Total number of students: 39170

In [53]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print(f'Total budget: ${total_budget:,.2f}')

Total budget: $24,649,428.00

In [54]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
print(f'Average math score: {average_math_score:.2f}')

Average math score: 78.99

In [55]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(f'Average reading score: {average_reading_score:.2f}')

Average reading score: 81.88

In [56]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'Passing math percentage: {passing_math_percentage:.2f}')

Passing math percentage: 74.98

In [67]:
# Define passing score
passing_score = 70

# Create boolean column for passing reading
school_data_complete['passing_reading'] = school_data_complete['reading_score'] >= passing_score

# Calculate passing reading percentage
passing_reading_percentage = school_data_complete['passing_reading'].mean() * 100

print(f'Passing reading percentage: {passing_reading_percentage:.2f}%')

Passing reading percentage: 85.81%

In [57]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'Percentage of students that passed math and reading: {overall_passing_rate:.2f}')

Percentage of students that passed math and reading: 65.17

In [68]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math' : [passing_math_percentage],
    '% Passing Reading' : [passing_reading_percentage]
})


# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463