In [147]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [148]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [149]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv("Resources/schools_complete.csv")
student_data = pd.read_csv("Resources/students_complete.csv")

In [150]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [151]:
#Calculate the total number of unique schools
school_count = total_schools = school_data_complete['School ID'].nunique()
print(f'Total number of unique schools: {total_schools}')

Total number of unique schools: 15

In [152]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
print(f'Total number of students: {student_count}')

Total number of students: 39170

In [153]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print(f'Total budget: ${total_budget:,.2f}')

Total budget: $24,649,428.00

In [154]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
print(f'Average math score: {average_math_score:.2f}')

Average math score: 78.99

In [155]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(f'Average reading score: {average_reading_score:.2f}')

Average reading score: 81.88

In [156]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_score = 70
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= passing_score)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'Passing math percentage: {passing_math_percentage:.2f}')

Passing math percentage: 74.98

In [157]:
# Create boolean column for passing reading
school_data_complete['passing_reading'] = school_data_complete['reading_score'] >= passing_score

# Calculate passing reading percentage
passing_reading_percentage = school_data_complete['passing_reading'].mean() * 100

print(f'Passing reading percentage: {passing_reading_percentage:.2f}%')

Passing reading percentage: 85.81%

In [158]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= passing_score) & (school_data_complete["reading_score"] >= passing_score)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'Percentage of students that passed math and reading: {overall_passing_rate:.2f}%')

Percentage of students that passed math and reading: 65.17%

In [159]:
# # Calculate passing math percentage
school_data_complete['passing_math'] = school_data_complete['math_score'] >= passing_score
# # passing_math_percentage = school_data_complete['passing_math'].mean() * 100

# # Calculate passing reading percentage
# # school_data_complete['passing_reading'] = school_data_complete['reading_score'] >= passing_score
# passing_reading_percentage = school_data_complete['passing_reading'].mean() * 100

# # Create boolean column for passing both math and reading
school_data_complete['passing_overall'] = (school_data_complete['passing_math'] & school_data_complete['passing_reading'])

# Calculate overall passing percentage
overall_passing_percentage = school_data_complete['passing_overall'].mean() * 100

print(f'Overall passing percentage: {overall_passing_percentage:.2f}%')

Overall passing percentage: 65.17%

In [160]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math' : [passing_math_percentage],
    '% Passing Reading' : [passing_reading_percentage],
    '% Overall Passing' : [overall_passing_percentage]
})


# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [161]:
# get the unique school names
school_names = school_data_complete["school_name"].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [162]:
# Use the code provided to select all of the school types
school_type = school_data['type']
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [163]:
student_count_per_school = school_data_complete.groupby('school_name').count()['Student ID']
student_count_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [164]:
# Calculate the total school budget and per capita spending per school
# Calculate total school budget
total_school_budget = school_data.groupby('school_name')['budget'].sum()

# Calculate per capita spending per school
per_capita_spending = total_school_budget / student_count

total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [165]:
# Group data by school name
by_school = school_data_complete.groupby('school_name')

# Calculate the total number of students per school
total_students = by_school['Student ID'].count()

# Calculate the total budget per school
total_budget = school_data.set_index('school_name')['budget']

# Calculate the per-student budget per school
per_student_budget = total_budget / total_students

# Calculate the average math score per school
avg_math_score = by_school['math_score'].mean()

# Calculate the average reading score per school
avg_reading_score = by_school['reading_score'].mean()

# Calculate the percentage of students passing math per school
passing_math_percent = school_data_complete[school_data_complete['math_score'] >= passing_score].groupby('school_name')['Student ID'].count() / total_students * 100

# Calculate the percentage of students passing reading per school
passing_reading_percent = school_data_complete[school_data_complete['reading_score'] >= passing_score].groupby('school_name')['Student ID'].count() / total_students * 100

# Calculate the percentage of students passing both math and reading per school
overall_passing_percent = school_data_complete[(school_data_complete['math_score'] >= passing_score) & (school_data_complete['reading_score'] >= passing_score)].groupby('school_name')['Student ID'].count() / total_students * 100

# Create a DataFrame to store the results
results = pd.DataFrame({
    "School Type": school_data.set_index('school_name')['type'],
    "Total Students": total_students,
    "Total School Budget": total_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": passing_math_percent,
    "% Passing Reading": passing_reading_percent,
    "% Overall Passing": overall_passing_percent
})

# # Format the output
results["Total School Budget"] = results["Total School Budget"].map("${:,.2f}".format)
results["Per Student Budget"] = results["Per Student Budget"].map("${:,.2f}".format)

# # Display the results
# print(results)
results_df = pd.DataFrame(results)
results_df.index.name = None
results_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [166]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_performing_schools = results_df.sort_values("% Overall Passing", ascending=False)
top_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [167]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
Bottom_performing_schools = results_df.sort_values("% Overall Passing", ascending=True)
Bottom_performing_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [168]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each grade level
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Create a DataFrame to hold the above results
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

# Remove the index name
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [169]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [170]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [175]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = results_df.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [182]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)
# Group by the spending bins and take the mean of the columns.
spending_grouped_df = school_spending_df.groupby("Spending Ranges (Per Student)").mean()
# Select columns and display the final dataframe

spending_grouped_df = spending_grouped_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending_grouped_df.index.name = None
spending_grouped_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [183]:
# Remove dollar sign and commas from "Per Student Budget" column
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$", "").str.replace(",", "").astype(float)
# school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"].str.replace("$", "").int.replace(",", ""))
school_spending_df
# school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"], errors="coerce")
# school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$", "").str.replace(",", "")

# # Convert "Per Student Budget" column to numeric values
# school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"])

# # Create spending ranges using pd.cut
# school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)

# # Group by the spending bins and take the mean of the columns.
# spending_grouped_df = school_spending_df.groupby("Spending Ranges (Per Student)").mean()

# # Select columns and display the final dataframe
# spending_grouped_df = spending_grouped_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
# spending_grouped_df.index.name = None
# spending_grouped_df

AttributeError: Can only use .str accessor with string values!

In [179]:
# Remove dollar sign and commas from "Per Student Budget" column
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$", "").str.replace(",", "")

# Convert "Per Student Budget" column to numeric values
school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"])

# Create spending ranges using pd.cut
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)

# Group by the spending bins and take the mean of the columns.
spending_grouped_df = school_spending_df.groupby("Spending Ranges (Per Student)").mean()

# Select columns and display the final dataframe
spending_grouped_df = spending_grouped_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending_grouped_df.index.name = None
spending_grouped_df

AttributeError: Can only use .str accessor with string values!

In [180]:
# Convert "Per Student Budget" column to numeric values
# school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"])
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].str.replace("$", "")
# Create spending ranges using pd.cut
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)

# Group by the spending bins and take the mean of the columns.
spending_grouped_df = school_spending_df.groupby("Spending Ranges (Per Student)").mean()

# Select columns and display the final dataframe
spending_grouped_df = spending_grouped_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending_grouped_df.index.name = None
spending_grouped_df

AttributeError: Can only use .str accessor with string values!

In [181]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest=True)
# Group by the spending bins and take the mean of the columns.
spending_grouped_df = school_spending_df.groupby("Spending Ranges (Per Student)").mean()
# Select columns and display the final dataframe

spending_grouped_df = spending_grouped_df[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
spending_grouped_df.index.name = None
spending_grouped_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855