In [14]:
import pandas as pd
from pathlib import Path

In [15]:
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [16]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
#Calculate the total number of unique schools
school_count = total_schools = school_data_complete['School ID'].nunique()
print(f'Total number of unique schools: {total_schools}')

Total number of unique schools: 15

In [20]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
print(f'Total number of students: {student_count}')

Total number of students: 39170