In [27]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [28]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [29]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv("Resources/schools_complete.csv")
student_data = pd.read_csv("Resources/students_complete.csv")

In [30]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [31]:
#Calculate the total number of unique schools
school_count = total_schools = school_data_complete['School ID'].nunique()
print(f'Total number of unique schools: {total_schools}')

Total number of unique schools: 15

In [32]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
print(f'Total number of students: {student_count}')

Total number of students: 39170

In [33]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print(f'Total budget: ${total_budget:,.2f}')

Total budget: $24,649,428.00

In [34]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
print(f'Average math score: {average_math_score:.2f}')

Average math score: 78.99

In [35]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(f'Average reading score: {average_reading_score:.2f}')

Average reading score: 81.88

In [36]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_score = 70
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= passing_score)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'Passing math percentage: {passing_math_percentage:.2f}')

Passing math percentage: 74.98

In [37]:
# Create boolean column for passing reading
school_data_complete['passing_reading'] = school_data_complete['reading_score'] >= passing_score

# Calculate passing reading percentage
passing_reading_percentage = school_data_complete['passing_reading'].mean() * 100

print(f'Passing reading percentage: {passing_reading_percentage:.2f}%')

Passing reading percentage: 85.81%

In [38]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= passing_score) & (school_data_complete["reading_score"] >= passing_score)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'Percentage of students that passed math and reading: {overall_passing_rate:.2f}%')

Percentage of students that passed math and reading: 65.17%

In [39]:
# # Calculate passing math percentage
school_data_complete['passing_math'] = school_data_complete['math_score'] >= passing_score
# # passing_math_percentage = school_data_complete['passing_math'].mean() * 100

# # Calculate passing reading percentage
# # school_data_complete['passing_reading'] = school_data_complete['reading_score'] >= passing_score
# passing_reading_percentage = school_data_complete['passing_reading'].mean() * 100

# # Create boolean column for passing both math and reading
school_data_complete['passing_overall'] = (school_data_complete['passing_math'] & school_data_complete['passing_reading'])

# Calculate overall passing percentage
overall_passing_percentage = school_data_complete['passing_overall'].mean() * 100

print(f'Overall passing percentage: {overall_passing_percentage:.2f}%')

Overall passing percentage: 65.17%

In [40]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math' : [passing_math_percentage],
    '% Passing Reading' : [passing_reading_percentage],
    '% Overall Passing' : [overall_passing_percentage]
})


# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [41]:
# get the unique school names
school_names = school_data_complete["school_name"].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [42]:
# Use the code provided to select all of the school types
school_type = school_data['type']
school_type

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [43]:
student_count_per_school = school_data_complete.groupby('school_name').count()['Student ID']
student_count_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [44]:
# Calculate the total school budget and per capita spending per school
# Calculate total school budget
total_school_budget = school_data.groupby('school_name')['budget'].sum()

# Calculate per capita spending per school
per_capita_spending = total_school_budget / student_count

total_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [52]:
# Group data by school name
by_school = school_data_complete.groupby('school_name')

# Calculate the total number of students per school
total_students = by_school['Student ID'].count()

# Calculate the total budget per school
total_budget = school_data.set_index('school_name')['budget']

# Calculate the per-student budget per school
per_student_budget = total_budget / total_students

# Calculate the average math score per school
avg_math_score = by_school['math_score'].mean()

# Calculate the average reading score per school
avg_reading_score = by_school['reading_score'].mean()

# Calculate the percentage of students passing math per school
passing_math_percent = school_data_complete[school_data_complete['math_score'] >= passing_score].groupby('school_name')['Student ID'].count() / total_students * 100

# Calculate the percentage of students passing reading per school
passing_reading_percent = school_data_complete[school_data_complete['reading_score'] >= passing_score].groupby('school_name')['Student ID'].count() / total_students * 100

# Calculate the percentage of students passing both math and reading per school
overall_passing_percent = school_data_complete[(school_data_complete['math_score'] >= passing_score) & (school_data_complete['reading_score'] >= passing_score)].groupby('school_name')['Student ID'].count() / total_students * 100

# Create a DataFrame to store the results
results = pd.DataFrame({
    "School Type": school_data.set_index('school_name')['type'],
    "Total Students": total_students,
    "Total School Budget": total_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Math": passing_math_percent,
    "% Passing Reading": passing_reading_percent,
    "% Overall Passing": overall_passing_percent
})

# # Format the output
results["Total School Budget"] = results["Total School Budget"].map("${:,.2f}".format)
results["Per Student Budget"] = results["Per Student Budget"].map("${:,.2f}".format)

# # Display the results
# print(results)
results_df = pd.DataFrame(results)
results_df.index.name = None
results_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [86]:
# Calculate average test scores per school
scores_by_school = school_data_complete.groupby('school_name').agg({'math_score': 'mean', 'reading_score': 'mean'})

# Rename columns
scores_by_school = scores_by_school.rename(columns={'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score'})

# Display the result
scores_by_school

                       Average Math Score  Average Reading Score
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

In [19]:
# Calculate the number of students per school with math scores of 70 or higher

passing_math_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['passing_math'].apply(lambda x: x.astype(int).sum())
passing_math_school.head()

school_name
Bailey High School      3318
Cabrera High School     1749
Figueroa High School    1946
Ford High School        1871
Griffin High School     1371
Name: passing_math, dtype: int64

In [20]:
# Calculate the number of students per school with reading scores of 70 or higher
passing_reading_by_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['student_name'].count()
passing_reading_by_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [22]:
# Calculate the percentage of students passing math per school
school_passing_math_percent = passing_math_school / student_count_per_school * 100

# Calculate the percentage of students passing reading per school
school_passing_reading_percent = passing_reading_by_school / student_count_per_school * 100

# Calculate the overall passing percentage per school
overall_passing_percent = school_students_passing_math_and_reading / student_count_per_school * 100
school_passing_math_percent
school_passing_reading_percent
overall_passing_percent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [23]:
# # Calculate passing scores by creating filtered DataFrame for each school
# per_school_passing_math = school_data_complete[school_data_complete['math_score'] >= passing_score].groupby('school_name')['student_name'].count()
# per_school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= passing_score].groupby('school_name')['student_name'].count()
# per_school_passing_math_reading = school_data_complete[(school_data_complete['math_score'] >= passing_score) & (school_data_complete['reading_score'] >= passing_score)].groupby('school_name')['student_name'].count()

# # Calculate percentage passing rates
# per_school_passing_math_percentage = per_school_passing_math / student_count_per_school * 100
# per_school_passing_reading_percentage = per_school_passing_reading / student_count_per_school * 100
# per_school_passing_math_reading_percentage = per_school_passing_math_reading / student_count_per_school * 100

# # Calculate per capita spending
# per_school_capita = total_school_budget / student_count_per_school

# Calculate average test scores per school
per_school_reading_score = school_data_complete.groupby(['school_name', 'type'])['reading_score'].mean()
# per_school_math_score = school_data_complete.groupby('school_name')['math_score'].mean()
# per_school_reading_score = school_data_complete.groupby('school_name')['reading_score'].mean()


# # Create the per_school_summary DataFrame
# per_school_summary = pd.DataFrame({
#     'School Type': school_type,
#     'Total Students': student_count_per_school,
#     'Total School Budget': total_school_budget,
#     'Per Student Budget': per_capita_spending,
#     'Average Math Score': per_school_math_score,
#     'Average Reading Score': per_school_reading_score,
#     '% Passing Math': per_school_passing_math_percentage,
#     '% Passing Reading': per_school_passing_reading_percentage,
#     '% Overall Passing': per_school_passing_math_reading_percentage
# })
#
data_frame = pd.DataFrame(per_school_reading_score)
data_frame

                                reading_score
school_name           type
Bailey High School    District      81.033963
Cabrera High School   Charter       83.975780
Figueroa High School  District      81.158020
Ford High School      District      80.746258
Griffin High School   Charter       83.816757
Hernandez High School District      80.934412
Holden High School    Charter       83.814988
Huang High School     District      81.182722
Johnson High School   District      80.966394
Pena High School      Charter       84.044699
Rodriguez High School District      80.744686
Shelton High School   Charter       83.725724
Thomas High School    Charter       83.848930
Wilson High School    Charter       83.989488
Wright High School    Charter       83.955000